.section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #843ad9ea;
  letter-spacing: 1.5px;
}

.section__header--underline-left {
  width: 2rem;
  height: 2px;
  background-color: #843ad9ea;
  margin-right: 1rem;
  margin-bottom: 0;
}

.section__header--underline-right {
  width: 2rem;
  height: 2px;
  background-color: #843ad9ea;
  margin-left: 1rem;
  margin-bottom: 0;
}

.section-padding {
  padding: 7rem 3rem;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.p-margin {
  margin-bottom: 3rem;
}

.navigation {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#d81bde), color-stop(27%, #b136b8), to(#0e00ff));
  background-image: linear-gradient(90deg, #d81bde 0%, #b136b8 27%, #0e00ff 100%);
  z-index: 220;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s cubic-bezier(0.7, 0.09, 0.66, 1);
  transition: 0.5s cubic-bezier(0.7, 0.09, 0.66, 1);
}

.navigation--toggle-nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 20;
}

.navigation__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation__item {
  color: white;
  text-decoration: none;
  margin: 0.5rem 0;
  font-size: 2.9rem;
  position: relative;
  display: inline-block;
}

.navigation__item::after {
  content: '';
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.35s ease-out;
  transition: -webkit-transform 0.35s ease-out;
  transition: transform 0.35s ease-out;
  transition: transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
}

.navigation__item:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.header {
  position: relative;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
}

.header__heading {
  font-size: 3.8rem;
  margin-bottom: 0.5rem;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  color: white;
}

.header__heading span {
  background-image: -webkit-gradient(linear, left top, right top, from(#d81bde), color-stop(27%, #b136b8), to(#0e00ff));
  background-image: linear-gradient(90deg, #d81bde 0%, #b136b8 27%, #0e00ff 100%);
  color: transparent;
  -webkit-background-clip: text;
  font-weight: 700;
}

.header__text {
  color: #d9d9d9;
}

.header__btn {
  margin-top: 3rem;
  font-size: 1.4rem;
  background: #d9d9d9;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 1.2rem 2.4rem;
}

.about__box h3 {
  font-weight: 500;
  text-align: center;
}

.about__img {
  width: 100%;
  margin-bottom: 3rem;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  overflow: hidden;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 2rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.about__list-item {
  width: 12.3rem;
  padding: 1.5rem 2rem;
  font-size: 1.3rem;
  -webkit-box-shadow: rgba(99, 99, 99, 0.42) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.42) 0px 2px 8px 0px;
  text-align: center;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.about__list-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.about__list-item i {
  margin-right: 1rem;
  font-size: 1.6rem;
  color: #30144fea;
}

.gallery__box {
  display: none;
  text-align: center;
}

.process {
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(201, 61, 205, 0.711642)), color-stop(0%, rgba(72, 10, 110, 0.808477))), url(/img/hero-process-medium.jpg);
  background-image: linear-gradient(90deg, rgba(201, 61, 205, 0.711642) 0%, rgba(72, 10, 110, 0.808477) 0%), url(/img/hero-process-medium.jpg);
  -webkit-clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0 100%);
          clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0 100%);
  background-size: cover;
  overflow: hidden;
  background-position: center;
  color: #d9d9d9;
}

.process .section__header {
  margin-top: 7rem;
  color: #d9d9d9;
}

.process .section__header div {
  background-color: #d9d9d9;
  margin-top: 0;
}

.process__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.process__option {
  position: relative;
  margin: 3rem 0;
  padding: 2rem 4rem;
  background: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  row-gap: 2rem;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.process__option i {
  color: #843ad9ea;
  font-size: 5rem;
  font-weight: 600;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'roboto';
  font-size: 1.6rem;
}

body {
  height: 400vh;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.bg-video__shadow {
  background: #30144fea;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
}

.bg-video__content {
  height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}

svg {
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke: white;
}

.active svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

path {
  -webkit-transition: stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

path:nth-child(1) {
  -webkit-transform-origin: 36% 40%;
          transform-origin: 36% 40%;
}

path:nth-child(2) {
  stroke-dasharray: 29 299;
}

path:nth-child(3) {
  -webkit-transform-origin: 35% 63%;
          transform-origin: 35% 63%;
}

path:nth-child(4) {
  stroke-dasharray: 29 299;
}

path:nth-child(5) {
  -webkit-transform-origin: 61% 52%;
          transform-origin: 61% 52%;
}

path:nth-child(6) {
  -webkit-transform-origin: 62% 52%;
          transform-origin: 62% 52%;
}

.active path:nth-child(1) {
  -webkit-transform: translateX(9px) translateY(1px) rotate(45deg);
          transform: translateX(9px) translateY(1px) rotate(45deg);
}

.active path:nth-child(2) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}

.active path:nth-child(3) {
  -webkit-transform: translateX(9px) translateY(1px) rotate(-45deg);
          transform: translateX(9px) translateY(1px) rotate(-45deg);
}

.active path:nth-child(4) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}

.active path:nth-child(5) {
  -webkit-transform: translateX(9px) translateY(1px) rotate(-45deg);
          transform: translateX(9px) translateY(1px) rotate(-45deg);
}

.active path:nth-child(6) {
  -webkit-transform: translateX(9px) translateY(1px) rotate(45deg);
          transform: translateX(9px) translateY(1px) rotate(45deg);
}
/*# sourceMappingURL=main.css.map */