.section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  margin-top: 7rem;
  color: #7800b4;
}

.section__header--underline-left {
  width: 2rem;
  height: 3px;
  background-color: rgba(132, 58, 217, 0.918);
  margin-right: 1rem;
  margin-bottom: 0;
}

.section__header--underline-right {
  width: 2rem;
  height: 3px;
  background-color: rgba(132, 58, 217, 0.918);
  margin-left: 1rem;
  margin-bottom: 0;
}

.section__header div {
  background-color: #7800b4;
  margin-top: 0;
}

h2 {
  font-weight: 600;
  font-family: 'Montserrat';
  letter-spacing: 0.8;
  font-size: 2.8rem;
}

.section__text {
  font-size: 2.4rem;
}

.section-padding {
  padding: 7rem 3rem;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.p-margin {
  margin-bottom: 3rem;
}

.logo__gradient {
  background-image: -webkit-gradient(linear, left top, right top, from(#900495), color-stop(27%, #4b0bed), to(#8c00ff));
  background-image: linear-gradient(90deg, #900495 0%, #4b0bed 27%, #8c00ff 100%);
  color: transparent;
  -webkit-background-clip: text;
  font-weight: 700;
}

.universal__btn {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  position: relative;
  font-size: 1.4rem;
  background: #d9d9d9;
  color: rgba(132, 58, 217, 0.918);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 1.2rem 2.4rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.universal__btn:hover {
  background-color: rgba(132, 58, 217, 0.918);
  color: #d9d9d9;
}

.accordion {
  margin: 0 auto;
  width: 100%;
  max-width: 90rem;
}

.accordion__box {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 1rem 2rem;
}

.active .accordion__box-content {
  max-height: 342px;
  -webkit-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
}

.active .accordion__box-label {
  background-color: lighter(#30144fea, 30%);
}

.active .accordion__box-label::before {
  content: '\276F';
  font-size: 1.7rem;
}

.accordion__box-label {
  font-size: 1.2rem;
  color: #d9d9d9;
  position: relative;
  padding: 1rem;
  background-color: rgba(132, 58, 217, 0.918);
  cursor: pointer;
}

.accordion__box-label::before {
  content: '\276E';
  position: absolute;
  top: 50%;
  right: 1.5rem;
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
  font-size: 1.7rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.accordion__box-content {
  position: relative;
  background-color: #edf2f4;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.accordion__box-content p {
  padding: 1rem;
}

.btn__up {
  opacity: 0;
  border: none;
  background-color: #edf2f4;
  position: fixed;
  width: 6rem;
  height: 6rem;
  bottom: 2rem;
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  outline: none;
  z-index: 999;
  cursor: pointer;
}

.btn__up:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}

.btn__up.active {
  opacity: 0.8;
}

.btn__up i {
  font-size: 2.5rem;
  color: #7800b4;
}

.navigation {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#511f91), to(#7f33a0));
  background-image: linear-gradient(to bottom right, #511f91, #7f33a0);
  z-index: 220;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s cubic-bezier(0.7, 0.09, 0.66, 1);
  transition: 0.5s cubic-bezier(0.7, 0.09, 0.66, 1);
}

.navigation--toggle-nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 20;
}

.navigation__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation__item {
  color: white;
  text-decoration: none;
  margin: 1rem 0;
  font-size: 3.2rem;
  position: relative;
  letter-spacing: .9px;
  text-transform: uppercase;
}

.navigation__item::after {
  content: '';
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.35s ease-out;
  transition: -webkit-transform 0.35s ease-out;
  transition: transform 0.35s ease-out;
  transition: transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
}

.navigation__item:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.header {
  position: relative;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
}

.header__heading {
  font-size: 4.5rem;
  margin-bottom: 0.5rem;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  color: white;
}

.header__text {
  color: #d9d9d9;
}

.header__wrapper-box .logo {
  display: none;
}

.about .section__header {
  margin-top: 0;
}

.about__box h3 {
  font-weight: 500;
  text-align: center;
}

.about__img {
  width: 100%;
  margin-bottom: 3rem;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  overflow: hidden;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.about__list-item {
  width: 12.3rem;
  padding: 1.5rem 2rem;
  font-size: 1.3rem;
  -webkit-box-shadow: rgba(99, 99, 99, 0.42) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.42) 0px 2px 8px 0px;
  text-align: center;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.about__list-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.about__list-item i {
  margin-right: 1rem;
  font-size: 1.6rem;
  color: #30144fea;
}

.gallery__box {
  display: none;
  text-align: center;
}

.process {
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(201, 61, 205, 0.711642)), color-stop(0%, rgba(72, 10, 110, 0.808477))), url(/img/hero-process-medium.jpg);
  background-image: linear-gradient(90deg, rgba(201, 61, 205, 0.711642) 0%, rgba(72, 10, 110, 0.808477) 0%), url(/img/hero-process-medium.jpg);
  -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
          clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
  background-size: cover;
  overflow: hidden;
  background-position: center;
  color: #d9d9d9;
}

.process .section__header {
  margin-top: 7rem;
  color: #d9d9d9;
}

.process .section__header div {
  background-color: #d9d9d9;
  margin-top: 0;
}

.process__option {
  position: relative;
  margin: 3rem 0;
  padding: 2rem 3rem;
  background: #262626;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  row-gap: 0.5rem;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.process__option h3 {
  font-size: 2.3rem;
}

.process__option:last-of-type {
  margin-bottom: 10rem;
}

.process__option:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.process__option i {
  color: rgba(132, 58, 217, 0.918);
  font-size: 5rem;
  font-weight: 600;
}

.contact {
  position: relative;
  background-color: #e6e6e6ea;
  -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
          clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
  background-size: cover;
  overflow: hidden;
  background-position: center;
  color: #d9d9d9;
  padding-bottom: 10rem;
}

.contact__form, .contact__form-labels {
  color: #212121ea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form-label {
  margin-bottom: 0.8rem;
}

.contact__form-input {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1.7rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.contact__form-textarea {
  min-height: 120px;
  width: 100%;
  max-width: 100%;
  max-height: 300px;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1.7rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.contact__form-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #663dff;
  background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
  color: #d9d9d9;
  width: 100%;
  border: none;
  max-width: 18rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.container {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}

svg {
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke: white;
}

.active svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

path {
  -webkit-transition: stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

path:nth-child(1) {
  -webkit-transform-origin: 36% 40%;
          transform-origin: 36% 40%;
}

path:nth-child(2) {
  stroke-dasharray: 29 299;
}

path:nth-child(3) {
  -webkit-transform-origin: 35% 63%;
          transform-origin: 35% 63%;
}

path:nth-child(4) {
  stroke-dasharray: 29 299;
}

path:nth-child(5) {
  -webkit-transform-origin: 61% 52%;
          transform-origin: 61% 52%;
}

path:nth-child(6) {
  -webkit-transform-origin: 62% 52%;
          transform-origin: 62% 52%;
}

.active path:nth-child(1) {
  -webkit-transform: translateX(9px) translateY(1px) rotate(45deg);
          transform: translateX(9px) translateY(1px) rotate(45deg);
}

.active path:nth-child(2) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}

.active path:nth-child(3) {
  -webkit-transform: translateX(9px) translateY(1px) rotate(-45deg);
          transform: translateX(9px) translateY(1px) rotate(-45deg);
}

.active path:nth-child(4) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}

.active path:nth-child(5) {
  -webkit-transform: translateX(9px) translateY(1px) rotate(-45deg);
          transform: translateX(9px) translateY(1px) rotate(-45deg);
}

.active path:nth-child(6) {
  -webkit-transform: translateX(9px) translateY(1px) rotate(45deg);
          transform: translateX(9px) translateY(1px) rotate(45deg);
}

.offer {
  height: auto;
}

.offer__boxes {
  height: auto;
}

.offer__btn {
  background-color: #663dff;
  background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
  border-radius: 10px;
  color: white;
  border: none;
  -webkit-box-shadow: #262626 0px 3px 7px -3px;
          box-shadow: #262626 0px 3px 7px -3px;
  width: 50%;
  padding: 1.5rem 0.2rem;
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 0rem;
}

.offer__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer .section__header {
  margin-top: 0;
}

.offer .section__header div {
  margin-top: 0;
}

.offer__box {
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 5rem 2rem;
  margin: 3rem 0 5rem 0;
}

.offer__box h3 {
  font-size: 2.5rem;
  color: #212121ea;
  letter-spacing: 2px;
}

.offer__box i {
  width: 100%;
  font-size: 7.5rem;
  margin-bottom: 3rem;
  color: rgba(132, 58, 217, 0.918);
}

.offer__box li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.offer__box li span {
  margin-right: 0.5rem;
  color: rgba(132, 58, 217, 0.918);
}

.offer__box-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer__box-header {
  margin-bottom: 2rem;
  font-size: 2.6rem;
}

.faq {
  padding-top: 0rem;
}

.crew .wrapper {
  overflow: hidden;
  /* prevent horizontal scroll */
}

.swiper {
  overflow: visible;
  /* if your container has overflow by default */
  width: 96%;
  height: 100%;
  text-align: center;
  padding: 4rem 0;
  z-index: 1;
}

.swiper-wrapper {
  overflow: visible;
  /* remove swiper container overflow */
}

.swiper-slide {
  padding: 2rem 4rem;
  width: 100%;
  min-height: 40rem;
  margin: 0 auto;
  background-color: #edf2f4;
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  overflow: visible;
  /* remove swiper container overflow */
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.swiper-slide:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.swiper-slide-img {
  width: 100%;
  height: 12vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.swiper-slide-img img {
  height: 100%;
  width: 100%;
  z-index: 9999;
  position: absolute;
  top: -12%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.swiper-slide-img img:hover {
  -webkit-filter: contrast(140%) brightness(120%);
          filter: contrast(140%) brightness(120%);
}

.swiper-slide__details {
  text-align: center;
}

.swiper-slide__details-header {
  font-size: 2.5rem;
  color: rgba(132, 58, 217, 0.918);
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Montserrat';
}

.swiper-slide__details-job {
  font-weight: 300;
  color: #30144fea;
  margin-bottom: 2.5rem;
}

.swiper-slide__details p {
  margin-bottom: 1rem;
}

.crew {
  padding-top: 0rem;
}

.crew .section__header {
  margin-bottom: 12rem;
}

.crew .section__header div {
  margin-bottom: 0;
}

.footer__box {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(201, 61, 205, 0.711642)), color-stop(0%, rgba(72, 10, 110, 0.808477))), url(/img/footer-small.jpg);
  background-image: linear-gradient(90deg, rgba(201, 61, 205, 0.711642) 0%, rgba(72, 10, 110, 0.808477) 0%), url(/img/footer-small.jpg);
  -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%);
          clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%);
  background-size: cover;
  overflow: hidden;
  background-position: center;
  color: #d9d9d9;
  margin-top: -8rem;
  padding: 11rem 3rem 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__box-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4.5rem;
  margin-bottom: 5rem;
}

.footer__box-logo__gradient {
  margin-bottom: 2rem;
}

.footer__box-logo a {
  margin-bottom: 2rem;
  text-decoration: none;
  color: #d9d9d9;
  padding: 1rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  display: inline-block;
}

.footer__box-logo a:hover {
  -webkit-transform: translateY(2px) scale(0.95);
          transform: translateY(2px) scale(0.95);
}

.footer__box-navigation {
  width: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__box-navigation .navigation__item::after {
  content: '';
  height: 1.5px;
}

.footer .navigation__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.footer .navigation__items a {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 1rem;
  font-family: 'Montserrat';
  display: inline-block;
}

.footer__copyright {
  width: 100%;
  padding: 1.6rem 0rem;
  border-top: 1px solid rgba(140, 140, 140, 0.757);
  text-align: center;
  letter-spacing: 0.5px;
}

@media (min-width: 410px) {
  .accordion__box-label {
    font-size: 1.6rem;
  }
}

@media (min-width: 576px) {
  .process__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .process__option {
    margin: 1rem;
    width: 45%;
  }
  .about__list-item {
    width: 20rem;
    font-size: 1.6rem;
  }
  .about__list-item i {
    font-size: 2rem;
  }
  .footer .navigation__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .offer__btn {
    width: 25%;
  }
  .section__text {
    font-size: 2.8rem;
  }
  .about__list-item {
    width: 24rem;
    font-size: 1.6rem;
  }
  .about__list-item i {
    font-size: 2rem;
  }
  .offer__box {
    width: 40%;
  }
  .offer__boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .offer__btn {
    width: 23%;
  }
}

@media (min-width: 990px) {
  .offer__btn {
    width: 17%;
  }
  h2 {
    font-size: 4.5rem;
    font-weight: 500;
  }
  .section__header--underline-left {
    width: 3rem;
    height: 4px;
  }
  .section__header--underline-right {
    width: 3rem;
    height: 4px;
  }
  #map {
    height: 35rem;
    width: 50%;
    margin-left: 1rem;
  }
  .contact__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2rem;
  }
  .contact__form {
    width: 50%;
    border-right: 1px solid rgba(0, 0, 0, 0.209);
    padding-right: 1rem;
  }
  .universal__btn {
    font-size: 1.7rem;
  }
  .process__option {
    margin: 2rem;
    width: 28%;
  }
  .container {
    display: none;
  }
  .navigation {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
    height: 10vh;
    -webkit-transition: 0;
    transition: 0;
  }
  .header__heading {
    font-size: 10rem;
  }
  .header__text {
    font-size: 2.5rem;
  }
  .header__wrapper-box {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 3rem;
    margin-bottom: -10vh;
    position: relative;
    z-index: 330;
  }
  .header__wrapper-box .logo {
    display: block;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .header__wrapper-box .logo:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .header__wrapper-box .logo a {
    color: #d9d9d9;
    text-decoration: none;
    font-size: 3rem;
  }
  .header__wrapper-box .nav__box .navigation {
    position: static;
    background-image: none;
  }
  .header__wrapper-box .nav__box .navigation__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Montserrat';
  }
  .header__wrapper-box .nav__box .navigation__item {
    display: inline-block;
    font-size: 1.6rem;
    color: white;
    margin: 1rem 2.5rem;
    padding: 1rem 0rem;
  }
  .header__wrapper-box .nav__box .navigation__item::after {
    content: '';
    height: 1px;
  }
  .about h3 {
    margin-top: 5rem;
  }
  .about__box-content {
    height: 40vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .about__box-content--text {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.6rem;
  }
  .about__box {
    margin-top: 10rem;
  }
  .about__box-img {
    display: none;
  }
  .about__list {
    text-align: center;
  }
  .about__list-item {
    width: 35rem;
    font-size: 1.6rem;
    text-align: center;
  }
  .about__list-item i {
    font-size: 2rem;
  }
  .gallery__box {
    display: -ms-grid;
    display: grid;
    position: relative;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .gallery__box-img {
    background-size: cover;
    overflow: hidden;
    background-position: center;
    position: absolute;
    width: 120%;
    height: 120%;
    -webkit-box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 5px;
    -webkit-transition: scale 0.4s, -webkit-transform 0.4s;
    transition: scale 0.4s, -webkit-transform 0.4s;
    transition: transform 0.4s, scale 0.4s;
    transition: transform 0.4s, scale 0.4s, -webkit-transform 0.4s;
  }
  .gallery__box-img--1 {
    background-image: url(/img/planet-1.jpg);
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    bottom: 4rem;
  }
  .gallery__box-img--2 {
    background-image: url(/img/gallery-img-2.jpg);
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    z-index: 3;
  }
  .gallery__box-img--3 {
    background-image: url(/img/gallery-img-3.jpg);
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    right: 4rem;
    top: 2rem;
    z-index: 4;
  }
  .gallery__box-img--4 {
    background-image: url(/img/gallery-img-4.jpg);
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    left: 3rem;
    top: -1rem;
  }
  .gallery__box-img--5 {
    background-image: url(/img/gallery-img-5.jpg);
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    right: 7rem;
    bottom: 0rem;
    z-index: 3;
  }
  .gallery__box-img:hover {
    outline: 1rem solid rgba(132, 58, 217, 0.918);
    -webkit-transform: scale(1.09) translateY(-0.3rem);
            transform: scale(1.09) translateY(-0.3rem);
    -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 20;
  }
  .gallery__box:hover .gallery__box-img:not(:hover) {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .accordion__box-label {
    font-size: 2rem;
  }
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'roboto';
  font-size: 1.6rem;
  background-color: #edf2f4;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.bg-video__shadow {
  background: #30144fea;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
}

.bg-video__content {
  height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=main.css.map */