.section__header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5rem;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	color: $secondary-color;
	letter-spacing: 1.5px;
	&--underline-left {
		width: 2rem;
		height: 3px;
		background-color: $secondary-color;
		margin-right: 1rem;
		margin-bottom: 0;
	}
	&--underline-right {
		width: 2rem;
		height: 3px;
		background-color: $secondary-color;
		margin-left: 1rem;
		margin-bottom: 0;
	}
}
h2{ 
	font-weight: 600;
font-family: 'Montserrat';
letter-spacing: 0.8;
font-size: 2.8rem;
}

.section__text {
	font-size: 2.4rem;
}

.section__header {
	margin-top: 7rem;
	color: $third-color;
	& div {
		background-color: $secondary-color;
		margin-top: 0;
	}
}
.section-padding {
	padding: 7rem 3rem;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.p-margin {
	margin-bottom: 3rem;
}
.logo__gradient {
	background-image: $main-gradient;
	color: transparent;
	-webkit-background-clip: text;
	font-weight: 700;
}
.universal__btn {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	position: relative;
	font-size: 1.4rem;
	background: $primary-color;
	color: $secondary-color;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 10px;
	padding: 1.2rem 2.4rem;
	letter-spacing: 0.2rem;
	font-weight: 500;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	transition: all 0.5s;
	cursor: pointer;
	&:hover {
		background-color: $secondary-color;
		color: $primary-color;
	}
}

.accordion {
	margin: 0 auto;
	width: 100%;
	max-width: 90rem;
	&__box {
		border-radius: 10px;
		overflow: hidden;

		.active &-content {
			max-height: 342px;

			transition: max-height 1s ease-in-out;
		}
		.active &-label {
			background-color: lighter($background-shadow, 30%);

			&::before {
				content: '\276F';
				font-size: 1.7rem;
			}
		}
		position: relative;
		margin: 1rem 2rem;
		&-label {
			font-size: 1.2rem;
			color: $primary-color;
			position: relative;
			padding: 1rem;
			background-color: $secondary-color;
			cursor: pointer;
			&::before {
				content: '\276E';

				position: absolute;
				top: 50%;
				right: 1.5rem;
				transform: translateY(-50%) rotate(-90deg);
				font-size: 1.7rem;
				transition: background-color 0.3s;
			}
		}
		&-content {
			position: relative;
			background-color: $body-color;
			max-height: 0px;
			overflow: hidden;
			transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
			p {
				padding: 1rem;
			}
		}
	}
}
