.footer {
	&__box {
		background-image: $process-bgc, url(/img/footer-small.jpg);
		clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%);
		background-size: cover;
		overflow: hidden;
		background-position: center;

		color: $primary-color;
		margin-top: -8rem;
		padding: 11rem 3rem 0 3rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&-logo {
			display: flex;
			flex-direction: column;
			align-items: center;
			&__gradient {
				margin-bottom: 2rem;
			}
			font-size: 4.5rem;
			margin-bottom: 5rem;

			a {
				margin-bottom: 2rem;

				text-decoration: none;
				color: $primary-color;
				padding: 1rem;
				transition: transform 0.3s;
				display: inline-block;
				&:hover {
					transform: translateY(2px) scale(0.95);
				}
			}
		}
		&-navigation {
			width: 100%;
			align-items: flex-end;

			& .navigation {
				&__item {
					&::after {
						content: '';
						height: 1.5px;
					}
				}
			}
		}
	}
	.navigation__items {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: space-around;

		a {
			font-size: 2rem;
			padding: 0.5rem 1rem;
			align-self: center;
			margin-bottom: 1rem;
			font-family: 'Montserrat';
			display: inline-block;

		}
	}
	&__copyright {
		width: 100%;
		padding: 1.6rem 0rem;
		border-top: 1px solid rgba(140, 140, 140, 0.757);
		text-align: center;
		letter-spacing: 0.5px;
	}
}
