.header {
	position: relative;
	height: 80vh;
	display: flex;
	padding: 2rem;

	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	z-index: 1;
	clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
	&__heading {
		font-size: 4.5rem;
		margin-bottom: 0.5rem;
		font-family: 'Space Grotesk', sans-serif;
		font-weight: 500;
		color: white;
	}
	&__text {
		color: $primary-color;
	}
	&__wrapper-box {
		.logo {
			display: none;
		}
	}
}
