@media (min-width: 410px) {
	.accordion {
		&__box {
			&-label {
				font-size: 1.6rem;
			}
		}
	}
}
@media (min-width: 576px) {
	.process {
		&__box {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		&__option {
			margin: 1rem;
			width: 45%;
		}
	}
	.about {
		&__list {
			&-item {
				width: 20rem;
				font-size: 1.6rem;
				i {
					font-size: 2rem;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.about {
		&__list {
			&-item {
				width: 24rem;
				font-size: 1.6rem;
				i {
					font-size: 2rem;
				}
			}
		}
	}
}

@media (min-width: 990px) {
	.universal__btn {
		font-size: 2rem;
	}
	.process {
		&__option {
			margin: 2rem;
			width: 30%;
		}
	}
	.container {
		display: none;
	}

	.navigation {
		transform: translateX(0);
		width: 100%;
		height: 10vh;
		transition: 0;
	}
	.header {
		&__heading {
			font-size: 10rem;
		}
		&__text {
			font-size: 2.5rem;
		}
		&__wrapper-box {
			margin: 0 auto;
			width: 100%;
			max-width: 1200px;

			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 3rem;
			margin-bottom: -10vh;
			position: relative;
			z-index: 330;

			& .logo {
				display: block;
				a {
					color: $primary-color;
					text-decoration: none;
					font-size: 3rem;
				}
			}
			& .nav__box {
				& .navigation {
					position: static;
					background-image: none;

					&__items {
						flex-direction: row;
						align-items: center;
					}
					&__item {
						display: inline-block;
						font-size: 1.4rem;
						color: white;
						margin: 1rem 2.5rem;
						padding: 1rem 0rem;

						&::after {
							content: '';
							height: 1px;
							
						}
					}
				}
			}
		}
	}
	.about {
		&__list {
			&-item {
				width: 30rem;
				font-size: 1.6rem;
				text-align: center;
				i {
					font-size: 2rem;
				}
			}
		}
	}
}
