$main-gradient: linear-gradient(
	90deg,
	rgb(144, 4, 149) 0%,
	rgb(75, 11, 237) 27%,
	rgb(140, 0, 255) 100%
);
$mobile-nav-bgc: linear-gradient(to bottom right, #511f91, #7f33a0);
$background-shadow: hsla(268, 60%, 19%, 0.89);
$process-card-bgc: rgb(38, 38, 38);
$process-bgc: linear-gradient(
	90deg,
	rgba(201, 61, 205, 0.7116421568627452) 0%,
	rgba(72, 10, 110, 0.8084768907563025) 0%
);
$primary-color: #d9d9d9;
$third-color: #7800b4;
$secondary-color: rgba(132, 58, 217, 0.918);
$contact-bgc-color: #e6e6e6ea;
$contact-form-label-color: #212121ea;
$body-color: #edf2f4;
$btn-gradient-bgc: #663dff;
$btn-gradient-img: linear-gradient(
	319deg,
	#663dff 0%,
	#aa00ff 37%,
	#cc4499 100%
);