$main-gradient: linear-gradient(
	90deg,
	rgb(144, 4, 149) 0%,
	rgb(75, 11, 237) 27%,
	rgb(140, 0, 255) 100%
);

$background-shadow: #30144fea;
$process-card-bgc: rgb(38, 38, 38);
$process-bgc: linear-gradient(
	90deg,
	rgba(201, 61, 205, 0.7116421568627452) 0%,
	rgba(72, 10, 110, 0.8084768907563025) 0%
);
$primary-color: #d9d9d9;
$third-color: rgb(120, 0, 180);
$secondary-color: #843ad9ea;
$contact-bgc-color: #e6e6e6ea;
$contact-form-label-color: #212121ea;
$body-color: #edf2f4;
$btn-gradient-bgc:  #663dff;
$btn-gradient-img: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);


@import './mixins.scss';
@import './components';
@import './navigation';
@import './header';
@import './about-section';
@import './process-section';
@import './contact';
@import './hamburger-btn';
@import './offer';
@import './faq';
@import './footer';

@import './media-queries';

//reset
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'roboto';
	font-size: 1.6rem;
	background-color: $body-color;
}

.bg-video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	overflow: hidden;
	&__shadow {
		background: $background-shadow;
		z-index: 1;
		width: 100%;
		height: 100%;
		position: absolute;
	}
	&__content {
		height: 100%;
		min-width: 100%;

		object-fit: cover;
	}
}
