
@import './variables';
@import './mixins.scss';
@import './components';
@import './navigation';
@import './header';
@import './about-section';
@import './process-section';
@import './contact';
@import './hamburger-btn';
@import './offer';
@import './faq';
@import './crew';
@import './footer';

@import './media-queries';

//reset
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'roboto';
	font-size: 1.6rem;
	background-color: $body-color;
}


